@media (max-width: 1440px) {
    .logo {
        img {
            width: 100px;
        }
    }

    .header__title {
        font-size: 130px;
        line-height: 108px;
        top: 20px;
        left: 60px;
    }

    .menu {
        padding-top: 10px;
    }

    .header__search {
        padding-bottom: 8px;
    }

    .header__date {
        font-size: 60px;

        span {
            padding-top: 0;
            font-size: 14px;
            margin-bottom: 5px;
        }
    }

    .header__arrows {
        left: 130px;
    }

    .surf-box__inner {
        min-height: 650px;
    }

    .shop__slider-info {
        margin-right: 0;
    }

    .shop__slider-price {
        margin-bottom: 30px;
    }

    .shop__slider-content {
        padding-left: 40px;
    }


}

@media (max-width: 1366px) {
    .header__aside {
        position: absolute;
        border-right: none;
        height: 108px;
        padding-right: 25px;
        background-color: rgba(#fff, .1);
        text-align: left;
        display: flex;
    }

    .menu {
        padding-top: 0;
    }

    .menu__list {

        text-align: center;

        li {
            display: inline-block;
        }

        a {
            padding: 15px;
        }
    }

    .header__search {
        padding: 33px 15px 15px;
    }

    .header__date {
        padding: 15px;
    }

    .header__location {
        margin-top: 42px;
    }

    .slider-item__info-title {
        font-size: 65px;
    }

    .header__arrows {
        left: 20px;
        bottom: 20px;
    }




}

@media (max-width: 1340px) {
    .header__map {
        svg {
            width: 500px;
            height: 250px;
        }
    }

    .slider-arrows {
        top: 20px;
        right: 20px;
    }

    .slider-arrows__left {
        right: 60px;
    }


}

@media (max-width: 1287px) {
    .slider-map .slick-list {
        overflow: hidden;
    }

    .slider-map-dots__circle {
        box-shadow: none;
    }
}

// Исправлено положение точек на slider-map
// Размер slider-map уменьшен
@media (max-width: 1250px) {
    .slider-map {
        max-width: 1000px;
        min-height: 515px;
    }

    .slider-map .slick-list {
        min-height: 515px;
    }

    .slider-map-dots--1 {
        top: 265px;

        .slider-map-dots__content {
            // z-index: 1;
            transform: translateX(0);

            &::before {
                left: 0;
            }
        }
    }

    .slider-map-dots--2 {
        top: 230px;
    }

    .slider-map-dots--3 {
        top: 255px;
        left: 25px;
    }

    .slider-map-dots--4 {
        top: 400px;
        left: -40px;
    }

    .slider-map-dots--5 {
        top: 180px;
        left: -60px;
    }

    .slider-map-dots--6 {
        top: 440px;
        left: -90px;
    }

    .slider-map-dots--7 {
        top: 300px;
        left: -80px;
    }

    .slider-map-dots--8 {
        top: 400px;
    }

    .shop__slider-content {
        align-items: center;
    }

    .shop__extras-inner {
        flex-direction: column;
        align-items: center;
    }

    .shop__extras {
        padding-left: 120px;
    }

    .shop__extras-box {
        margin: 0;
    }

    .shop__slider-info {
        max-width: 400px;
    }

    .shop__extras-title {
        text-align: center;
    }

    .surfboard {

        &__position--1 {
            .surfboard-box__content {
                top: 25px;
                left: -150px;
            }
        }

        &__position--2 {
            .surfboard-box__content {
                top: 25px;
                left: -70px;
            }
        }

        &__position--3 {
            .surfboard-box__content {
                top: 25px;
                left: -100px;
            }
        }
    }

    .surfboard-box__content {
        width: 250px;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
    }

    .surfboard-box__circle {
        &::before {
            width: 50px;
        }
    }

    .surfboard__position--3 .surfboard-box__circle {
        &::before {
            left: 30px;
        }
    }
}

@media (max-width: 1210px) {
    .shop__slider {
        padding-left: 50px;
    }

    .shop__extras {
        padding-left: 170px;
    }
}

@media (max-width: 1150px) {

    .surf,
    .holder {
        padding: 70px 0 30px;
        
    }

    .holder {
        background-size: 180px;
    }

    .holder-slide__descr {
        padding: 160px 0 0 20px;
    }

    .shop__slider-content {
        padding-left: 0;
    }

    .surfboard {
        img {
            width: 80%;
        }
    }

    .shop__slider-info {
        margin-right: 50px;
    }

    .shop__extras {
        padding-left: 100px;
    }

    .shop__slider-info {
        padding-top: 100px;
    }

    .footer {
        padding-top: 150px;
    }
}

@media (max-width: 1100px) {
    .slider-map {
        background-image: none;
        max-width: 100%;
        min-height: 280px;
    }

    .slider-map-dots__circle {
        display: none;
    }

    .slider-map-dots__content,
    .slider-map-dots--8 .slider-map-dots__content,
    .slider-map-dots--1 .slider-map-dots__content {
        width: 285px;
        padding: 25px 25px 0 25px;
        transform: translateX(5%);
        display: block;

        &::before {
            display: none;
        }
    }

    .slider-map-dots {
        position: static;
    }

    .slider-map {
        .slick-list {
            overflow: hidden;
            min-height: 280px;
        }

        .slick-track {
            min-height: 280px;
        }
    }

    .slider-map .slick-current .slider-map-dots__content {
        background: rgba(74, 246, 205, 0.2);
    }

    .shop__extras-box {
        margin-bottom: 10px;
    
    }
    .shop__extras-title {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .shop__extras-img {
        min-height: 80px;
        margin-bottom: 20px;
    }

    .shop__extras-name {
        letter-spacing: 4px;
        line-height: 18px;
        font-size: 16px;
        opacity: 0.5;
        margin-bottom: 10px;
    }

}

@media (max-width: 1040px) {
    .menu-btn {
        display: flex;
    }

    .header__arrows {
        display: none;
    }

    .menu {
        background-color: #000;
        z-index: 12;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateX(-100%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        transition: all .5s;

        &.active {
            transform: translateX(0);

        }
    }

    .header__search {
        padding: 40px 15px 15px;
    }

    .slider-item__info {
        position: absolute;
        right: 20px;
        bottom: 17px;
        text-align: right;
    }

    .slider-item__info-text {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .headline-left {
        font-size: 16px;
        line-height: 18px;
        padding-left: 65px;

        &::before {
            width: 50px;
        }
    }

    .headline-right {
        font-size: 16px;
        line-height: 18px;
        padding-right: 65px;

        &::before {
            width: 50px;
        }
    }

    .slider-item__info-subtext {
        margin-bottom: 5px;
    }

    .slider-item__info-title {
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 20px;

    }

    .slider-dots {
        right: 0;
        left: 10px;
        margin: 0 auto;
        bottom: 5px;
    }

    .dots-box {
        width: 125px;

        &__number {
            font-size: 18px;
        }

        &__name {
            line-height: 18px;
        }
    }

    .surf__subtitle {
        padding-right: 20px;
    }

    .holder-slide__info {
        display: block;
        // Прозрачная граница снизу нужна, чтобы работал нижний отступ до кнопки
        border-bottom: 1px solid transparent;
        margin-bottom: 20px;
    }

    .holder-slide__info-subtitle {
        position: static;
        transform: rotate(0deg);
        height: auto;
        width: auto;
        text-align: left;
    }

    .holder-slide__info-item {
        min-height: auto;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .holder-slide__info-title {
        padding-left: 0;

        .holder-pricing__span {
            top: 30px;
            left: 0;
        }
    }


    .holder-slide__descr {
        background-position: right -120px;
    }

    .holder {
        background-size: 300px;

        .title {
            span {
                padding-bottom: 0;
            }
        }
    }

    .quantity-button.quantity-up {
        right: auto;
        left: 25px;
    }

    .quantity-button.quantity-down {
        right: auto;
    }

    .sleep .holder-slide__descr {
        background-position: right 10px;
    }

    .surfboard {
        margin-left: 30px;
    }

    .shop__slider-info {
       max-width: 350px;
       padding-top: 70px;
       margin-right: 0;
    }

}

@media (max-width: 960px) {
    .slider-dots {
        display: none;
    }

    .shop__extras {
        padding-left: 50px;
    }

    .shop__slider-info {
       max-width: 300px;
    }
}

@media (max-width: 900px) {
    .shop__slider-content {
        flex-direction: column;
        margin-left: 50px;
        width: 350px;
    }

    .shop__extras-inner {
        flex-direction: row;
        justify-content: space-between;
    }

    .shop__extras {
        padding-left: 0;
        width: 280px;
    }

    .surfboard {
        margin-bottom: 20px;
        
    }

    .surfboard {
        width: 200px;
        &__position--1 {

           right: 70px;
            top: 150px;
            .surfboard-box__content {
                top: 25px;
                left: -150px;
            }
        }

        &__position--2 {
            left: 0;
           top: 300px;
            .surfboard-box__content {
                top: 25px;
                left: -70px;
            }
        }

        &__position--3 {
            bottom: 50px;
            left: 35px;
            .surfboard-box__content {
                top: 25px;
                left: -100px;
            }
        }
    }

    .shop__extras-title {
        margin-bottom: 10px;
    }

    .shop__extras-img {
        margin-bottom: 0;
    }
    
    .shop__extras-name {
        margin-bottom: 0;
    }
    
    .shop__extras-price {
        margin-bottom: 0;
    }
    
}

@media (max-width: 767px) {
    .shop__slider-content {
        margin-left: 0;
    }

    .surfboard {
        margin-bottom: 50px;
    }

    .shop__slider-inner {
        flex-direction: column;
        align-items: center;
    }
    .shop__slider-info {
        margin-bottom: 50px;
    }

    .descr__head {
            font-size: 32px;
    }

    .descr__head-shop {
        margin-bottom: 20px;
    }

    .holder {
        border-bottom: 1px solid transparent;
    }

    .shop {
        margin-top: 50px;
    }
}

@media (max-width: 720px) {
    .title {
        span {
            font-size: 90px;
            // padding-bottom: 80px;
            padding-left: 10px;
        }

        h3 {
            font-size: 70px;
        }
    }

    .surf__subtitle {
        margin-top: 50px;
    }

    .surf-slider .slider-arrows {
        top: 20px;
    }

    .surf-slider {
        padding-top: 65px;
    }

    .holder-slide__head {
        min-height: 720px;
    }

    .holder-slide__subtitle {
        padding-right: 20px;
        padding-top: 100px;
    }

    .holder-slide__info-subtitle {
        font-size: 16px;
    }

    .holder-slide__info-title {
        font-size: 36px;
    }

    .holder-slide__descr {
        background-image: none !important;
    }
}

@media (max-width: 640px) {


    .btn {
        font-weight: 800;
        font-size: 30px;
        line-height: 36px;
    }

    .holder-slide__btn {
        margin-top: 10px;
    }

    .holder.sleep {
        background-image: none;
    }
}

@media (max-width: 520px) {
    .headline-left {
        letter-spacing: 2px;
    }

    .subtitle__head {
        font-size: 32px;
        padding-right: 0;
    }

    .descr__head {
        font-size: 32px;
    }

    .holder-slide__info-subtitle {
        font-size: 14px;
    }

    .holder-slide__info-title {
        font-size: 32px;
    }
}

@media (max-width: 460px) {
    .header__aside {
        display: block;
        text-align: center;
        padding-right: 0;
        height: 100vh;
    }

    .header__search {
        padding: 15px 0 5px;
    }

    .header__date {
        padding: 0;
        font-size: 50px;
        line-height: 45px;

        span {
            font-size: 12px;
        }
    }

    .header__location {
        margin-top: 0;
    }

    .header__title {
        display: none;
    }

    .holder {
        background-image: none;
        // background-size: 120px;
    }

    .shop__slider {
        padding-left: 10px;
    }


}

@media (max-width: 425px) {

    .slider-map .slider-map-dots__content,
    .slider-map .slick-current .slider-map-dots__content {
        display: block;
        width: 250px;
        padding: 28px 15px 0;
    }

    .holder-slide__descr .holder__star-list {
        position: static;
        margin-left: -10px;

    }

    .descr__head.descr__head-sleep {
        padding-right: 0;
    }

    .shop__extras-inner {
        flex-direction: column;
        align-items: center;
    }

    .surfboard-box__content {
        width: 220px;
        font-size: 18px;
        // font-weight: 500;
        // line-height: 22px;
    }

    .surfboard {
        width: 200px;
        &__position--1 {

           right: 70px;
            top: 150px;
            .surfboard-box__content {
                top: 25px;
                left: -120px;
               
            }
        }

        &__position--2 {
            left: 0;
           top: 300px;
            .surfboard-box__content {
                top: 25px;
                left: -50px;
            }
        }

        &__position--3 {
            bottom: 50px;
            left: 35px;
            .surfboard-box__content {
                top: 25px;
                left: -85px;
            }
        }
    }

    .surfboard-box__circle {
        &::before {
            width: 30px;
        }
    }
    
    .footer {
        padding-top: 100px;
    }

}

@media (max-width: 374px) {

    .slider-map .slider-map-dots__content,
    .slider-map .slick-current .slider-map-dots__content {
        width: 210px;
        padding: 28px 10px 0;
    }

    .descr__head {
        width: 300px;
    }

}