.holder {
    background-image: url(../img/travel-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

    .slider-arrows {
        top: 230px;
        opacity: 0.5;
    }

    &.sleep {
        background-image: url(../img/flower.png);
        background-repeat: no-repeat;
        background-position: bottom right;
    

    }
}


// это отдельно взятый слайд, общего слайдера с классом .holder-slider
.holder-slide {

    &__head {
        background-repeat: no-repeat;
        background-position: top left;
        min-height: 780px;
    }

    &__descr {
        margin-top: -230px;
        padding-top: 160px;
        padding-left: 130px;
        min-height: 320px;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;

       
    }

    &__subtitle {
        text-align: right;
        padding-right: 80px;
        padding-top: 130px;
    }

    &__btn {
        text-align: center;
    }
}

.descr__head {
    position: relative;
    padding-right: 70px;
    &.descr__head-sleep {
        padding-right: 220px;
    }
    img {
        position: absolute;
        right: 0;
        top: 0;
        
    }
    .holder__star-list {
        position: absolute;
        right: 0;
        top: 0;
        img {
            position: static;
        }
    }
}

.holder-slide__info {
    display: flex;
    justify-content: space-around;
}

.holder-slide__info-item {
    min-height: 200px;
    margin-bottom: 66px;
    position: relative;
}

.holder-slide__info-subtitle {
    position: absolute;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    color: rgba(#ffffff, .5);
    transform: rotate(-90deg);
    text-align: right;
    top: 97px;
    left: -97px;
    width: 200px;
    height: 0;
    white-space: nowrap;
}

.holder-slide__info-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    padding-left: 40px;
    position: relative;

    .holder-pricing__span {
        position: absolute;
        top: 28px;
        right: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 36px;
        letter-spacing: 5.25px;
        opacity: 0.75;
    }
}
