.holder.sleep {
    background-image: url(../img/flower.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 150px;
}

.holder__star-list {
    position: absolute;
    right: 0;
    top: -5px;

    img {
        position: static;
    }
}

.descr__head {
    &.descr__head-sleep {
        padding-right: 220px;
    }
}


// чтобы поле с ценой не прыгало когда меняется сумма
.total {
    display: inline-block;
    width: 90px;
}